<html>
  <head>
      <title>IT FRECKIN WORKS!!!!</title>
    <head>
  <body>
    <div>
        <h1><a href="">MOST IMPORTANT HEADING WITH LINK</a></h1>
      </div>

    <div>
        <p>published: 24.01.2017, 16:18</p>
        <h2><a href="">SECOND IMPORTANT HEADING WITH LINK</a></h2>
        <p>I AM TYPING FRECKIN FRENCH. BONJOUR?</p>
      </div>

      <div>
          <p>published: 24.01.2017, 16:18</p>
          <h2><a href="">ANOTHER SECOND IMPORTANT HEADING WITH LINK</a></h2>
          <p>I AM TYPING FRECKIN RUSKI. CYKA BLYAT?</p>
          <p>published: 24.01.2017, 16:18</p>
        </div>
      </body>
    </html>
